<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link type="text/css" rel="stylesheet" media="screen" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" media="screen" href="/webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
  <script type="text/javascript" src="/webjars/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <h1>Voting list</h1>

      <div class="list-group">
        {{^votings}}
        <a href="/voting" class="list-group-item">No voting found</a>
        {{/votings}}
        {{#votings}}
        <a href="/voting/{{id}}" class="list-group-item">{{title}}{{#closed}}&nbsp;<span class="badge">closed</span>{{/closed}}</a>
        {{/votings}}
      </div>

      <h2>New voting</h2>
      <form id="new-voting" method="POST">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" class="form-control" placeholder="Title of the voting"/>
        </div>
        <div class="form-group">
          <label for="options">Options</label>
          <textarea name="options" id="options" class="form-control" placeholder="List of options - each option in separate line" rows="5">yes
no</textarea>
        </div>
        <button id="submitNew" type="submit" class="btn btn-default">Add</button>
      </form>

    </div>
  </div>
</div>

</body>
</html>
